body{
    margin: 0;
    background: rgb(20,20,20);
    color: white;
    font-family: 'Karla', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}
.main{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.main > *{
    z-index: 1;
}
img{
    width: auto;
    height: 100vh;
    opacity: .4;
}
.cover{
    background-image: url("imgs/image1.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top:0;
    left:0;
    opacity: .8;
}
.logo{
    fill:white;
    height: 100px;
    width: auto;
}
.background{
    position: absolute;
}

.about{
    position: absolute;
    top: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
}
.about--top{
  box-shadow: 0px -40px 60px 10px rgba(20,20,20,.8);
}
.about--laptop{
  top: 200vh;
  height: 100vh;
}
.about--form{
  top: 300vh;
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: left;
  align-content: center;
}
.input--text{
  color: whitesmoke;
  border: 0;
  border-bottom: 2px solid whitesmoke;
  background: transparent;
  font-size: 1.2em;
  display: block;
  width: 30vw;
  margin-top: 2.5em;
}

.input--submit{
  background: whitesmoke;
  color: darkgray;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  display: block;
  width: 30vw;
  margin-top: 3em;
  height: 40px;
  cursor: pointer;
}
.input--submit:hover{
  background: lightgray;
  color: slategray;
}
.sign_form{
  margin-top: 10vh;
}
.copy{
  width: 40%;
  font-size: 1.2em;
  text-align: left;
  line-height: 1.6em;
  margin-left: 15%;
  margin-top: 15%;
}
iframe{
  border: none;
}
#js-start{
  position: absolute;
  top: 50vh;
}
.laptop{
  margin-top: -12vh;
}
.aquda{
  position: absolute;;
  height: 150px;
  width: 90px;
  left: 65%;
  top: 35vh;
}
.aquda .back{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background: gray;
  border-radius: 8px;
}
.aquda .front{
  position: absolute;
  top:0;
  left:0;
  height: 56%;
  width: 100%;
  background: lightgray;
  border-radius: 8px;
  box-shadow: 0px 20px 20px -10px rgba(0,0,0,.6);
  z-index: 9999;
}

.aquda .front .screen{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  height: 32%;
  width: 56%;
  background: black;
  border-radius: 2px;
}

footer{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: .4;
}

.github-fork-ribbon-wrapper{
  width: 150px;height: 150px;position: fixed;overflow: hidden;top: 0;z-index: 9999;pointer-events: none;right: 0;opacity: .8;
}
.github-fork-ribbon{
  position: absolute;padding: 2px 0;background-color: #333;background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15));-webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);-moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.5);z-index: 9999;pointer-events: auto;top: 42px;right: -43px;-webkit-transform: rotate(45deg);-moz-transform: rotate(45deg);-ms-transform: rotate(45deg);-o-transform: rotate(45deg);transform: rotate(45deg);
}
.github-fork-ribbon a{
  font: 700 13px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #fff;text-decoration: none;text-shadow: 0 -1px rgba(0, 0, 0, 0.5);text-align: center;width: 200px;line-height: 20px;display: inline-block;padding: 2px 0;border-width: 1px 0;border-style: dotted;border-color: rgba(255, 255, 255, 0.7);
}
